@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    background-color: #F3DFC1;
    align-items: center;
    padding: 1rem;
    max-height: 2rem;
}

.navbar-left{
    width: 50%;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.navbar-right{
    /* position: relative; */
    display: flex;
    width: 50%;
    gap: 2rem;
    justify-content: end;
    padding-right: 2rem;
    align-items: center;
}

a{
    text-decoration: none;
    color: #160F29;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
}

a:hover{
    border-bottom: 2px solid #160F29;
    border-radius: 3px;
}

#project-btn{
    background-color: #160F29;
    border: none;
    color: #F3DFC1;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    transition: transform 0.1s ease-in-out;

}

#project-btn:hover{
    cursor: pointer;
    transform: translateY(-4px);
}